.slider{
    margin-bottom: 110px;
    padding: 205px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &__inner{
        padding: 0px 20px;
    }
    &__title{
        margin-bottom: 40px;
        color: #ffffff;
        font-family: "Helios Bold",sans-serif;
        font-size: 56px;
        font-weight: 400;       
    }
    &__text{
        padding: 0px 10px;
        margin: 0 auto;
        margin-bottom: 42px;
        text-align: center;
        color: #ffffff;
        font-family: "Helios",sans-serif;
        font-size: 36px;
        font-weight: 400;   
        max-width: 570px;     
    }
    &__btn{
        margin: 0 auto;
        display: block;
    }
    span{
        display: block;
    }
}
.slick-next.slick-arrow,
.slick-prev.slick-arrow{
    background-color: transparent;
    font-size: 0;
    border: none;
    outline: none;
    // &:hover{
    //     background-color: #fff;
    // }
}
.slick-prev.slick-arrow::before{
    content: '\f105';
    font-family: 'icomoon';
    padding: 14px 18px;
    font-size: 18px;
    position: absolute;
    color: #fff;   
    border: 1px solid #fff;
    cursor: pointer;
    top: 200px;
    left: 1060px;
  
}
.slick-next.slick-arrow::after{
    content: '\f104';
    font-family: 'icomoon';
    padding: 14px 18px;
    font-size: 18px;
    position: absolute;
    color: #fff;   
    top: 200px;
    left: -10px;
    border: 1px solid #fff;
    cursor: pointer;
}
.slick-dots{
  text-align: center;
  ul{
    margin-top: -25px;
  }
	li{
		display: inline-block;	
    margin-right: 80px;
    margin-left: 80px;
		button{
			width: 66px;
      height: 2px;
      background-color: #cab64b;
      border: none;
      outline: none;
      display: none;
		}
	}
}
.slick-dots .slick-active{
	button{
    display: block;
    margin-left: -200px;
	font-size: 0;
    width: 66px;
    height: 2px;
    background-color: #cab64b;
	}
}
button{
    background-color: #fff;
}
@media (max-width: 1200px){
    .slider{
        .slick-prev.slick-arrow::before{
            left: 1060px;
          
        }
        .slick-next.slick-arrow::after{
            left: -10px;
    
        }
        .slider{
            margin-bottom: 90px;
            padding: 180px 0px;
        }
    }

}
@media (max-width: 1150px){
    .slider{
        .slick-prev.slick-arrow::before{
            left: 930px;
          
        }
        .slick-next.slick-arrow::after{
            left: -10px;
    
        }
        .slider{
            margin-bottom: 90px;
            padding: 180px 0px;
        }
    }
}
@media (max-width: 992px){
    .slick-next.slick-arrow::after{
        left: 90px ;
        top: -20px;
        border: none;
    }
    .slick-prev.slick-arrow::before{
        left: 160px ;
        top: -20px;
        border: none;
    }
    .slider{
        margin-bottom: 70px;
        padding: 180px 0px;
        &__title{
            font-size: 50px;
        }
        &__text{
            font-size: 30px;
        }
        &__btn{
            padding: 10px 20px;
        }
        .slick-next.slick-arrow::after{
            left: 90px ;
            top: -20px;
        }
        .slick-prev.slick-arrow::before{
            left: 160px ;
            top: -20px;
        }
    }
    .btn{
        padding: 10px 20px;
    }
}
@media (max-width: 780px){
    .slider{
        margin-bottom: 70px;
        padding: 140px 0px;
        &__title{
            font-size: 45px;
        }
        &__text{
            font-size: 26px;
        }
    }
}
@media (max-width: 680px){
    .slider{
        padding: 160px 0px;
        &__title{
            margin-bottom: 30px;
            font-size: 34px;
        }
        &__text{
            font-size: 16px;
        }
    }
}
@media (max-width: 576px){
    .slider{
        margin-bottom: 30px;
        padding: 120px 0px;
        &__title{
            font-size: 26px;
        }
        &__text{
            font-size: 16px;
        }
    }
}

@media (max-width: 370px){

}
